@if (!isServer){
<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>{{"LOGIN.TITLE" | translate}}</mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="signIn()">
      <mat-form-field appearance="fill">
        <mat-label>{{"LOGIN.USERNAME" | translate}}</mat-label>
        <input matInput type="text" formControlName="username">
        <mat-error>
          {{"LOGIN.USERNAME" | translate}} {{"ERROR.IS_REQUIRED" | translate}}.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{"LOGIN.PASSWORD" | translate}}</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error>
          {{"LOGIN.PASSWORD" | translate}} {{"ERROR.IS_REQUIRED" | translate}}.
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">{{"LOGIN.TITLE" | translate}}</button>
      <br>
      <mat-label class="lable">{{"LOGIN.QUESTION" | translate}}</mat-label>
      <button mat-raised-button color="primary" type="button" routerLink="/register"
        routerLinkActive="active">{{"LOGIN.REGISTER_BUTTON" | translate}}</button>
    </form>
  </mat-card-content>
  <br>
  <div class="loginError">
    <mat-error *ngIf="loginForm?.errors?.['unauthorised']">
      {{"LOGIN.ERROR_INVALID_CREDENTIALS" | translate}}
    </mat-error>
  </div>
</mat-card>

}