<section>
    <h1>Create Task</h1>
    <form *ngIf="createTaskForm" #createdTaskForm [formGroup]="createTaskForm" (ngSubmit)="createTask()">

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input id="title" matInput (blur)="errorMessage()" formControlName="title" placeholder="Task title" type="text" value="">
           <mat-error>Title is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="Task description" value="">
            <mat-error>Description is requred</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" placeholder="Task type">
                <mat-option value="Personal">Personal</mat-option>
                <mat-option value="Work">Work</mat-option>
            </mat-select>
            <mat-error>Type is required</mat-error>
        </mat-form-field>
        <br>

        <button mat-flat-button color="primary">Create Task</button>

    </form>
</section>