<app-create-task />

<ul *ngIf="tasks$ | async as tasks">
    <li *ngFor="let task of tasks$ | async">
        <mat-card class="task-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Task: {{task.title}}</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
                <span>Description: </span><b>{{task.description}}</b>
            </mat-card-content>
                <br>
            <mat-card-content>
                <p>Task type: {{task.type}}</p>
                <p>Status: {{task.status}}</p>
                <p>Created on: {{task.createdOn}}</p>
                <button id="deleteButton" mat-flat-button (click)="deleteTask(task)">Delete task</button>
            
            </mat-card-content>
        </mat-card>
        <br>
    </li>
</ul>