.deleteButton {
  background-color: rgb(176, 16, 16);
}
ul {
  padding: 0;
}
#updateGroupSection {
  margin: 0 auto;
  width: 96%;
}
.updateGroupHeader {
  display: flex;
  padding: 10px;
  gap: 4px;
}
.updateGroupButton {
  margin-left: 16px;
}
